<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="snenko_newsblock" id="snenko_newsblock">
			<module before="Magento_Backend" name="Snenko_NewsBlock"/>
		</route>
	</router>
</config>
