<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Snenko\NewsBlock\Api\PostsRepositoryInterface" type="Snenko\NewsBlock\Model\PostsRepository"/>
	<preference for="Snenko\NewsBlock\Api\Data\PostsInterface" type="Snenko\NewsBlock\Model\Posts"/>
	<preference for="Snenko\NewsBlock\Api\Data\PostsSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Snenko\NewsBlock\Model\ResourceModel\Posts\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">snenko_newsblock_posts</argument>
			<argument name="resourceModel" xsi:type="string">Snenko\NewsBlock\Model\ResourceModel\Posts\Collection</argument>
		</arguments>
	</virtualType>
	<virtualType name="Snenko\NewsBlock\Model\ResourceModel\Labels\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">snenko_newsblock_labels</argument>
			<argument name="resourceModel" xsi:type="string">Snenko\NewsBlock\Model\ResourceModel\Labels\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="snenko_newsblock_posts_grid_data_source" xsi:type="string">Snenko\NewsBlock\Model\ResourceModel\Posts\Grid\Collection</item>
				<item name="snenko_newsblock_labels_grid_data_source" xsi:type="string">Snenko\NewsBlock\Model\ResourceModel\Labels\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<type name="Magento\Framework\EntityManager\HydratorPool">
		<arguments>
			<argument name="hydrators" xsi:type="array">
				<item name="Snenko\NewsBlock\Api\Data\PostsInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
			</argument>
		</arguments>
	</type>
	<virtualType name="Snenko\NewsBlock\ImageUpload" type="Magento\Catalog\Model\ImageUploader">
		<arguments>
			<argument name="baseTmpPath" xsi:type="string">newsblock/tmp</argument>
			<argument name="basePath" xsi:type="string">newsblock</argument>
			<argument name="allowedExtensions" xsi:type="array">
				<item name="jpg" xsi:type="string">jpg</item>
				<item name="jpeg" xsi:type="string">jpeg</item>
				<item name="gif" xsi:type="string">gif</item>
				<item name="png" xsi:type="string">png</item>
			</argument>
		</arguments>
	</virtualType>
	<type name="Snenko\NewsBlock\Controller\Adminhtml\Post\Upload\Image">
		<arguments>
			<argument name="imageUploader" xsi:type="object">Snenko\NewsBlock\ImageUpload</argument>
		</arguments>
	</type>
</config>
